title: planoteca
email: admin@planoteca.com.br
author: Andreas Hansen
description: > # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.

baseurl: ""
url: "https://doc.planoteca.com.br"
keywords: "planoteca ajuda help knowledgebase faq"
add_permalinks: true
twitter: planoteca
support: https://suporte.planoteca.com.br
repo: https://github.com/ndrshnsn/planoteca-docs
github_user: ndrshnsn
github_repo: planoteca-docs
logo: assets/img/logo/planoteca_doc.png
github_branch: main
badge_rounded: true
markdown: kramdown
highlighter: rouge
kramdown:
  input: GFM
  hard_wrap: false
  syntax_highlighter: rouge
tag_color: primary # danger, success, warning, primary, info, secondary
fixedNav: 'true' # true or false
permalink: /:title/

collections:
  docs:
    output: true
    permalink: /:collection/:path

plugins:
  - jekyll-postcss
  - jekyll-seo-tag
  - jekyll-sitemap

postcss:
  cache: false

exclude:
  - node_modules
  - _site
  - CHANGELOG.md
  - LICENSE
  - README.md
  - vendor
  - package.json
  - postcss.config.js
  - tailwind.config.js
  - yarn.lock