<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {% assign all_schemas = "" | split: "" %}
    {% assign all_schemas = all_schemas | push: include.schema/website.html %}
    {% assign all_schemas = all_schemas | push: include.schema/organization.html %}
    {% assign all_schemas = all_schemas | push: include.schema/webpage.html %}
    {% assign all_schemas = all_schemas | push: include.schema/knowledgebase.html %}
    {% if page.url == '/' %}
      {% assign all_schemas = all_schemas | push: include.schema/itemlist-homepage.html %}
    {% endif %}
    {{ all_schemas | join: "," }}
  ]
}
</script>
