{
  "@type": "WebPage",
  "@id": "{{ page.url | absolute_url }}#webpage",
  "url": "{{ page.url | absolute_url }}",
  "name": "{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}",
  "description": "{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}",
  "isPartOf": {
    "@id": "{{ site.url }}#website"
  },
  "about": {
    "@id": "{{ site.url }}#organization"
  },
  "primaryImageOfPage": {
    "@type": "ImageObject",
    "url": "{{ site.url }}/assets/img/logo/planoteca_doc.png"
  }
  {% if page.date_published %}
  ,"datePublished": "{{ page.date_published | date_to_xmlschema }}"
  ,"dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}"
  {% endif %}
}
