{
  "@type": "WebSite",
  "@id": "{{ site.url }}#website",
  "url": "{{ site.url }}",
  "name": "{{ site.title }}",
  "description": "{{ site.description }}",
  "publisher": {
    "@id": "{{ site.url }}#organization"
  }
  {% if site.search_enabled != false %}
  ,"potentialAction": [{
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "{{ site.url }}/search?q={search_term_string}"
    },
    "query-input": "required name=search_term_string"
  }]
  {% endif %}
}
